<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445319617982-j6kc6gm4rki0ncqb08bg4q1mttblqnij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445319617982-j6kc6gm4rki0ncqb08bg4q1mttblqnij</string>
	<key>API_KEY</key>
	<string>AIzaSyAJVQz_eLuMNurGlleVYWOSaXuiA9biPaI</string>
	<key>GCM_SENDER_ID</key>
	<string>445319617982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mircChat</string>
	<key>PROJECT_ID</key>
	<string>mirc-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>mirc-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445319617982:ios:2a166ece9afe594e7f6def</string>
</dict>
</plist>